.header_component {
  width: 1024px;
  max-width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas: "title search search   menu";

  align-items: center;

  .header_title {
    grid-area: title;
  }
  .header_search {
    justify-self: center;
    grid-area: search;
  }
  .header_menu {
    
    grid-area: menu;
  }
}



