//GameApp 게임 페이지
.Game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    "header header header"
    "contents contents contents"
    "footer footer footer";
  gap: 1rem;
  width: 1024px;
  max-width: 100%;
  margin: 0px auto;

  .game_header {
    grid-area: header;
  }
  .game_contents {
    min-height: 1000px;
    text-align: -webkit-center;
    grid-area: contents;
  }
  .game_footer {
    grid-area: footer;
    align-items: center;
  }
}



.firework {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.firework-before,
.firework-after {
  position: absolute;
  content: "";
  border-radius: 50%;
}

.firework-before {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.firework-after {
  width: 100%;
  height: 100%;
  background-color: #ff0;
  z-index: 0;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.firework:hover .firework-after {
  transform: scale(1);
}