//GameApp 게임 페이지
.Profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    "header header header"
    "contents contents contents"
    "mypost mypost mypost"
    "footer footer footer";
  gap: 1rem;
  width: 1024px;
  max-width: 100%;
  margin: 0px auto;

  .Profile_header {
    grid-area: header;
  }
  .Profile_contents {
    width: 90%;
    justify-self: center;
    grid-area: contents;
    display: grid;

    grid-template-areas:
      "avatar avatar username username"
      "avatar avatar detail detail";

    .profile_avatar {
      justify-self: center;
      grid-area: avatar;
    }
    .profile_username {
      grid-area: username;
    }
    .profile_detail {
      display: flex;
      grid-area: detail;
      .detail_item {
        margin-right: 20px;
      }
    }
  }
  .profile_mypost {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-self: center;
    width: 95%;
    border-top: 1px solid #000;
    margin-top: 30px;
    grid-area: mypost;
    .mypost_item {
      margin: 10px;
    }
  }
  .Profile_footer {
    grid-area: footer;
    align-items: center;
  }
}
